[Unit]
Description=WIMP Backend Service
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/iiot/wimp-backend/ExpressNodeRed
ExecStart=/bin/bash -c '/usr/bin/npm install && /usr/bin/npm run start'
Restart=on-failure
User=iiot

[Install]
WantedBy=multi-user.target
