[Unit]
Description=WIMP Frontend Service
After=network.target

[Service]
WorkingDirectory=/home/iiot/wimp-frontend
ExecStart=/bin/bash -c '/usr/bin/npm install && /usr/bin/npm run start'
Restart=on-failure
User=iiot

[Install]
WantedBy=multi-user.target
